*{
  margin: 0;padding: 0;
}
@import url('http://fonts.cdnfonts.com/css/blake');
@import url('http://fonts.cdnfonts.com/css/eagle-book');
@import url('http://fonts.cdnfonts.com/css/zacbel-x');
@import url('http://fonts.cdnfonts.com/css/bolded');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.shad-dark:hover{
  box-shadow: 0 0 10px rgb(53, 26, 43);
  border-radius: 40px;
  padding: 8px;
  transform: scale(1.2);
  cursor: pointer;
}
.shad-light:hover{
  border-radius: 40px;
  padding: 8px;
  transform: scale(1.2);
  box-shadow: 0 0 10px rgb(255, 230, 243);
  cursor: pointer;
}

.headingBox{
  padding-left: 0px;
}
#heading{
  color: rgb(199, 0, 70);
  justify-content: space-between;
}

.modeBox{
  cursor: pointer;
  transform: scale(1.2);
}
.nav-content{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.navbar-light{
  background-color: rgb(255, 230, 243);
  position: sticky;
  z-index: 9999;
  top: 0;
  box-shadow: 0 2px 10px rgb(184, 142, 169);
  color: rgb(25, 40, 33);
  font-family: 'Eagle', sans-serif;
  /* font-weight: 900; */
  font-size: 29px;                            
}

.navbar-dark{
  background-color: rgb(56, 31, 47);
  color: white;
  position: sticky;
  z-index: 9999;
  font-family: 'Eagle', sans-serif;
}

a{
  color: white;
}

.textils-form{
  margin-top: 90px;
}

#text_summary{
  height: 57px;
  width: 700px;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}

#outBox{
  word-wrap: break-word;
}

.div-dark{
  background-color: rgb(255, 241, 241);
  box-shadow: inset 0 0 6px rgb(255, 53, 117);
}

.div-light{
  background-color: rgb(35, 35, 35);
  box-shadow: inset 0 0 6px rgb(255, 23, 104);
}


.outputBox{
  resize: none;
  width: 700px;
  height: 400px;
  overflow-y: scroll;
  border-radius: 5px;
  background-color: rgb(255, 241, 249);
  border: none;
}



/* SCROLLBARD CSS */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(255, 211, 224);
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(88, 88, 88);
  border-radius: 10px;
  width: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: radial-gradient(rgb(255, 151, 179),rgb(179, 0, 69),rgb(57, 0, 22));
  border-radius: 10px;
}




